<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" />
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script src="https://unpkg.com/htmx.org@1.9.10"
        integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
        crossorigin="anonymous"></script>
    <title>ColligeVerba</title>
    <script>

        document.addEventListener('alpine:initialized', () => {
            Alpine.store('keyStore', {
            })
            console.log('init')
            prompt()
        })

        function handleKeypress(event) {
            Alpine.store('keyStore').push(event.key)
            console.log(Alpine.store('keyStore'))
        }

    </script>
</head>

<body x-data="{
    presses: [],
    push(ch) { 
        this.modal == -1 ? 
            ch.length == 1 ? 
            this.presses.push({ ch: ch, pos: this.presses.length }) 
            : null 
        : null 
    },
    pop() { this.modal == -1 ? this.presses.pop() : null },
    tr(pos) { 
        this.presses[pos].ch.includes('?') ? 
            this.presses[pos].ch += '?' 
            : this.presses[pos].ch = '?'; 
        this.presses[pos].ch.length > 2 ?
            this.presses[pos].ch = '?' 
            : null 
    },
    modal: -1,
    setModal(num) { this.modal = num },
    setOrs(pos, val) { 
        this.presses[pos] = { 
            ...this.presses[pos],
            ors: val
        };
        this.modal = -1 
    },
    getStr() {
        ret = '';
        this.presses.forEach((el) => {
            orsss = '' 
            if (el.ors !== undefined && el.ors !== null) {
                el.ors.split('').forEach( (orr) => orsss += orr+',' )
                orsss = orsss.substring(0, orsss.length-1)
            }
            thret = (el.ch.includes('?') && el.ch.length == 1) ? el.ch + '{' + orsss + '}' : el.ch;
            ret += thret;
        })
        return ret
    }
    }" @keyup='event.key == "Backspace" ? pop() : push($event.key) '>
    <div x-data>
        <header class="container">
            <hgroup>
                <h1> vestigiaverbi </h1>
                <p> A tool! </p>
            </hgroup>
        </header>
        <!--<section x-data id="preview" class="container" @keyup='event.key == "Backspace" ? pop() : push($event.key) '>-->
        <section x-data id="preview" class="container">
            <h2>Word Input</h2>
            <p>
                Search for words! If you are unsure about a letter just type a '?' instead!
            </p>
            <div x-data class="grid">
                <template x-data x-for="ch in presses" :key="ch.pos">
                    <div role="group">
                        <button :data-tooltip="ch.pos" x-text="ch.ch" @click="tr(ch.pos)"></button>
                        <button x-show="ch.ch.includes('?')" @click="setModal(ch.pos)" x-text="ch.ors || 'or'"
                            placeholder="?">Or</button>
                    </div>
                </template>
            </div>
            <form hx-post="/query" hx-target="#results-list" hx-swap="innerHTML">
                <input style="visibility: hidden;" type="text" name="query" x-model="getStr()">
                <input type="submit" value="Search" />
            </form>
            <dialog open x-data="{ors: ''}" x-show="modal > -1">
                <article>
                    <header>
                        <button aria-label="Close" rel="prev" @click="setModal(-1)"></button>
                        <p>
                            <strong> Add other Chars</strong>
                        </p>
                    </header>
                    <input type="text" name="adds" :placeholder="ch.ors" aria-label="Adds" x-model="ors" />
                    <button type="submit" value="Save" @click="() => {setOrs(modal, ors); ors='';} ">Safe</button>
                </article>
            </dialog>

        </section>
        <section x-data id="results" class="container">
            <h2>Results</h2>
            <div x-data class="grid" id="results-list">
                {{ block "word-list-el" .}}
                {{ range .Results }}
                <div> {{ . }} </div>
                {{ end }}
                {{ end }}
            </div>
        </section>

        <main class="container">
    </div>
</body>

</html>
